#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer { // Layer 0
            bindings = <
                &kp ESC    &kp N1   &kp N2 
                &kp TAB    &kp Q    &kp W  
                &kp LSHFT  &kp A    &kp S  
            >;
        };
    };
 };