#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer { // Layer 0
            bindings = <
                &kp ESC    &kp N1    &kp N2    &kp N3    &kp N4    &kp N5    &mo 2
                &kp TAB    &kp Q    &kp W    &kp E    &kp R    &kp C
                &kp LSHFT  &kp A    &kp S    &kp D    &kp F    &kp F
                &kp LCTRL  &kp Z    &kp X    &kp C    &kp V    &kp K
                                  &kp LALT   &kp LGUI &kp mo 1  &kp SPACE
            >;
        };
    };
 };